*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{ 
     background-color: #081b31;
     color: white;
     height: 5rem;
     line-height: 5rem;
}
.choice{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.choice:hover{
    border-radius: 50%;

    background-color: black;
    cursor: pointer;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     margin-top:5rem ;

}

.score-bord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap : 5rem


}
#computerscore , #userscore{
    font-size: 4rem;
}
.msg-contener{
    margin-top: 5rem;
}
#msg{
    
       background-color : black;
       color: white;
       height: 5rem;
       font-size: 2rem;
      display: inline;
      padding: 1rem;
      border-radius: 1rem;
}
